In [15]:
import pandas as pd
import numpy as np
import wave
from shutil import copyfile
from tqdm import tqdm

In [13]:
meta_dir = "../Datasets/ff1010bird_wav/"
raw_dir = "../Datasets/ff1010bird_wav/wav_raw/"
processed_dir = "../Datasets/ff1010bird_wav/wav_classified/"

meta_filename = "metadata.csv"

meta = pd.read_csv(meta_dir + meta_filename)

In [14]:
meta.head(20)

    itemid  hasbird
0    64486        0
1     2525        0
2    44981        0
3   101323        0
4   165746        0
5    38232        0
6   104540        0
7   157473        0
8   132129        0
9   127302        0
10   24950        0
11   39924        0
12   19037        1
13   86729        0
14   92992        0
15   69238        0
16  102853        0
17  124684        0
18   81068        0
19  123344        0

In [18]:
for index, row in tqdm(meta.iterrows()):
    wav_filename = str(row['itemid']) + ".wav"
    src = raw_dir + wav_filename
    
    if (row['hasbird'] == 1):
        folder = "bird/"
    else:
        folder = "background/"
    
    dst = processed_dir + folder + wav_filename
    copyfile(src, dst)

7690it [01:42, 74.66it/s]

In [21]:
hasbird = meta['hasbird'] == 1
nobird = meta['hasbird'] == 0
bird_rows = meta[hasbird]
non_bird_rows = meta[nobird]
print(bird_rows.shape)
print(non_bird_rows.shape)

(1935, 2)
(5755, 2)